In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [10]:
cars_main = pd.read_csv("cars_engage_2022.csv", index_col = 'Unnamed: 0')
cars_main

,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,Emission_Norm,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,BS IV,...,Yes,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,BS IV,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,BS 6,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,BS 6,...,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,4.0,4.0,AWD (All Wheel Drive),In-line,BS IV,...,Yes,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN

In [11]:
cars_main.head(10)

,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,Emission_Norm,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Tata,Nano Genx,Xma,"Rs. 3,14,815",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Datsun,Redi-Go,D,"Rs. 2,79,650",799 cc,3.0,4.0,FWD (Front Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Datsun,Redi-Go,T,"Rs. 3,51,832",799 cc,3.0,4.0,FWD (Front Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Datsun,Redi-Go,A,"Rs. 3,33,419",799 cc,3.0,4.0,FWD (Front Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Datsun,Redi-Go,S,"Rs. 3,62,000",799 cc,3.0,4.0,FWD (Front Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
cars_main.columns

Index(['Make', 'Model', 'Variant', 'Ex-Showroom_Price', 'Displacement',
       'Cylinders', 'Valves_Per_Cylinder', 'Drivetrain',
       'Cylinder_Configuration', 'Emission_Norm',
       ...
       'Leather_Wrapped_Steering', 'Automatic_Headlamps', 'Engine_Type',
       'ASR_/_Traction_Control', 'Cruise_Control', 'USB_Ports',
       'Heads-Up_Display', 'Welcome_Lights', 'Battery', 'Electric_Range'],
      dtype='object', length=140)

In [13]:
cars_main.isnull().sum()

Make                    0
Model                   0
Variant                 0
Ex-Showroom_Price       0
Displacement           12
                     ...
USB_Ports            1247
Heads-Up_Display     1225
Welcome_Lights       1207
Battery              1263
Electric_Range       1259
Length: 140, dtype: int64

In [42]:
cars_main['Cylinders'].isnull().sum()

#cars_main['Displacement'] = cars_main['Displacement'].fillna(cars_main['Displacement'].mode())
cars_main['Cylinders'] = cars_main['Cylinders'].fillna(cars_main['Cylinders'].mean())
cars_main['Cylinders'].isnull().sum()

0

In [43]:
cars_main['Valves_Per_Cylinder'] = cars_main['Valves_Per_Cylinder'].fillna(cars_main['Valves_Per_Cylinder'].mean())
cars_main['Valves_Per_Cylinder'].isnull().sum()

0

In [60]:
#cars_main['Gears'] = cars_main['Gears'].str.extract('(\d+)').astype(float)
#cars_main['Gears'].astype(float)
cars_main["Gears"] = cars_main["Gears"].fillna(cars_main['Gears'].mean())
cars_main['Gears'].isnull().sum()

0

In [67]:
#drop_series = ['Power_Seats', 'Keyless_Entry', '12v_Power_Outlet', '']
cars_main['Start_/_Stop_Button'].unique()
cars_main['Start_/_Stop_Button'] = cars_main['Start_/_Stop_Button'].fillna('No')

In [72]:
seires_list = [ cars_main['Make'], cars_main['Model'], cars_main['Variant'], cars_main['Cylinders'], cars_main['Gears'] ]
Training_set = pd.concat(seires_list, axis=1)

encoder = OneHotEncoder(handle_unknown= 'ignore')
encoder.fit_transform(Training_set)

<1276x1385 sparse matrix of type '<class 'numpy.float64'>'
	with 6380 stored elements in Compressed Sparse Row format>

In [81]:
cars_encoded_dp = pd.DataFrame(encoder.fit_transform(Training_set).toarray())

In [87]:
Training_set.join(cars_encoded_dp)

,Make,Model,Variant,Cylinders,Gears,0,1,2,3,4,...,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384
0,Tata,Nano Genx,Xt,2.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Tata,Nano Genx,Xe,2.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Tata,Nano Genx,Emax Xm,2.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Tata,Nano Genx,Xta,2.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,Tata,Nano Genx,Xm,2.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,Honda,City,Vx Mt Diesel,4.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1272,Honda,City,Zx Mt Diesel,4.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1273,Honda,City,Zx Cvt Petrol,4.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1274,Honda,City,V Cvt Petrol,4.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1275,Mitsubishi,Montero,3.2 At,4.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [91]:
new_list = [ cars_main['Ex-Showroom_Price'],
            cars_main['Emission_Norm'],
            cars_main['Fuel_Tank_Capacity'],
            cars_main['Fuel_Type'],
            cars_main['Body_Type'],
            cars_main['City_Mileage'],
            cars_main['Highway_Mileage'],
            cars_main['ARAI_Certified_Mileage'],
            cars_main['Keyless_Entry'],
            cars_main['Power'],
            cars_main['Torque'],
            cars_main['Speedometer'],
            cars_main['Tachometer'],
            cars_main['Type'],
            cars_main['Basic_Warranty'],
            cars_main['Boot_Space'],
            cars_main['Airbags'],
            cars_main['Cruise_Control']
           ]
List_cars_encoded = pd.concat(new_list, axis=1)
List_cars_encoded.join(cars_encoded_dp)

,Ex-Showroom_Price,Emission_Norm,Fuel_Tank_Capacity,Fuel_Type,Body_Type,City_Mileage,Highway_Mileage,ARAI_Certified_Mileage,Keyless_Entry,Power,...,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384
0,"Rs. 2,92,667",BS IV,24 litres,Petrol,Hatchback,23.6 km/litre,NaN,23.6 km/litre,Remote,38PS@5500rpm,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Rs. 2,36,447",BS IV,24 litres,Petrol,Hatchback,23.6 km/litre,NaN,23.6 km/litre,NaN,38PS@5500rpm,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Rs. 2,96,661",BS IV,15 litres,CNG,Hatchback,NaN,NaN,NaN,NaN,38PS@5500rpm,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Rs. 3,34,768",BS IV,24 litres,Petrol,Hatchback,23.6 km/litre,NaN,21.9 km/litre,Remote,38PS@5500rpm,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,"Rs. 2,72,223",BS IV,24 litres,Petrol,Hatchback,23.6 km/litre,NaN,23.6 km/litre,NaN,38PS@5500rpm,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,"Rs. 13,02,000",BS IV,40 litres,Diesel,Sedan,22.6 km/litre,25.1 km/litre,25.1 km/litre,Smart Key,100PS@3600rpm,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1272,"Rs. 14,21,000",BS IV,40 litres,Diesel,Sedan,22.6 km/litre,25.1 km/litre,25.1 km/litre,Smart Key,100PS@3600rpm,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1273,"Rs. 14,31,000",BS 6,40 litres,Petrol,Sedan,18 km/litre,18 km/litre,22.6 km/litre,Smart Key,119PS@6600rpm,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1274,"Rs. 12,01,000",BS 6,40 litres,Petrol,Sedan,14.3 km/litre,16.4 km/litre,17.8 km/litre,Remote,119PS@6600rpm,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1275,"Rs. 68,62,560",BS IV,88 litres,Diesel,SUV,8.25 km/litre,11.56 km/litre,11.56 km/litre,Yes,202ps@3800rpm,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [92]:
print(List_cars_encoded)

     Ex-Showroom_Price Emission_Norm Fuel_Tank_Capacity Fuel_Type  Body_Type  \
0         Rs. 2,92,667         BS IV          24 litres    Petrol  Hatchback
1         Rs. 2,36,447         BS IV          24 litres    Petrol  Hatchback
2         Rs. 2,96,661         BS IV          15 litres       CNG  Hatchback
3         Rs. 3,34,768         BS IV          24 litres    Petrol  Hatchback
4         Rs. 2,72,223         BS IV          24 litres    Petrol  Hatchback
...                ...           ...                ...       ...        ...
1271     Rs. 13,02,000         BS IV          40 litres    Diesel      Sedan
1272     Rs. 14,21,000         BS IV          40 litres    Diesel      Sedan
1273     Rs. 14,31,000          BS 6          40 litres    Petrol      Sedan
1274     Rs. 12,01,000          BS 6          40 litres    Petrol      Sedan
1275     Rs. 68,62,560         BS IV          88 litres    Diesel        SUV

       City_Mileage Highway_Mileage ARAI_Certified_Mileage Keyless_Entry  \
0     23.6 km/litre             NaN          23.6 km/litre        Remote
1     23.6 km/litre             NaN          23.6 km/litre           NaN
2               NaN             NaN                    NaN           NaN
3     23.6 km/litre             NaN          21.9 km/litre        Remote
4     23.6 km/litre             NaN          23.6 km/litre           NaN
...             ...             ...                    ...           ...
1271  22.6 km/litre   25.1 km/litre          25.1 km/litre     Smart Key
1272  22.6 km/litre   25.1 km/litre          25.1 km/litre     Smart Key
1273    18 km/litre     18 km/litre          22.6 km/litre     Smart Key
1274  14.3 km/litre   16.4 km/litre          17.8 km/litre        Remote
1275  8.25 km/litre  11.56 km/litre         11.56 km/litre           Yes

              Power         Torque      Speedometer    Tachometer       Type  \
0      38PS@5500rpm   51Nm@4000rpm           Analog  Not on offer     Manual
1      38PS@5500rpm   51Nm@4000rpm           Analog  Not on offer     Manual
2      38PS@5500rpm   51Nm@4000rpm           Analog  Not on offer     Manual
3      38PS@5500rpm   51Nm@4000rpm           Analog  Not on offer  Automatic
4      38PS@5500rpm   51Nm@4000rpm           Analog  Not on offer     Manual
...             ...            ...              ...           ...        ...
1271  100PS@3600rpm  200Nm@1750rpm           Analog        Analog     Manual
1272  100PS@3600rpm  200Nm@1750rpm           Analog        Analog     Manual
1273  119PS@6600rpm  145Nm@4600rpm           Analog        Analog  Automatic
1274  119PS@6600rpm  145Nm@4600rpm           Analog        Analog  Automatic
1275  202ps@3800rpm  441Nm@2000rpm  Analog, Digital        Analog  Automatic

                                         Basic_Warranty   Boot_Space  \
0     2 years /75000 Kms (years/distance whichever c...   110 litres
1     2 years /75000 Kms (years/distance whichever c...   110 litres
2     2 years /75000 Kms (years/distance whichever c...   110 litres
3     2 years /75000 Kms (years/distance whichever c...    94 litres
4     2 years /75000 Kms (years/distance whichever c...   110 litres
...                                                 ...          ...
1271     2 Years / 40,000 Kms (Whichever comes earlier)   510 litres
1272     2 Years / 40,000 Kms (Whichever comes earlier)   510 litres
1273     2 Years / 40,000 Kms (Whichever comes earlier)   510 litres
1274     2 Years / 40,000 Kms (Whichever comes earlier)   510 litres
1275                                                NaN  1050 litres

                                                Airbags Cruise_Control
0                                                   NaN            NaN
1                                                   NaN            NaN
2                                                   NaN            NaN
3                                                   NaN            NaN
4                                                   NaN            NaN
...                                                 ...            ...
1271  Driver frontal airbag, Front passenger frontal...            Yes
1272  Drive side airbag, Curtain airbags, Driver fro...            Yes
1273  Curtain airbags, Driver frontal airbag, Front ...            Yes
1274  Driver frontal airbag, Front passenger frontal...            Yes
1275  Driver frontal airbag, Front passenger frontal...            Yes

[1276 rows x 18 columns]