In [17]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [79]:
#missing_value = ["N/a", "na", np.nan]
cars = pd.read_csv("cars_engage_2022.csv")#, na_values = missing_value)

In [62]:
cars

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1272,1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1273,1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1274,1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1275,1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,4.0,4.0,AWD (All Wheel Drive),In-line,...,Yes,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN

In [20]:
cars.head()

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1276 entries, 0 to 1275
Columns: 141 entries, Unnamed: 0 to Electric_Range
dtypes: float64(6), int64(1), object(134)
memory usage: 1.4+ MB

In [22]:
cars.describe()

,Unnamed: 0,Cylinders,Valves_Per_Cylinder,Doors,Seating_Capacity,Number_of_Airbags,USB_Ports
count,1276.000000,1210.000000,1174.000000,1272.000000,1270.000000,1141.000000,29.000000
mean,637.500000,4.380992,3.977853,4.550314,5.270079,3.787029,1.793103
std,368.493781,1.660957,0.833763,0.747816,1.145231,2.522399,0.773642
min,0.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000
25%,318.750000,4.000000,4.000000,4.000000,5.000000,2.000000,1.000000
50%,637.500000,4.000000,4.000000,5.000000,5.000000,2.000000,2.000000
75%,956.250000,4.000000,4.000000,5.000000,5.000000,6.000000,2.000000
max,1275.000000,16.000000,16.000000,5.000000,16.000000,14.000000,3.000000

In [23]:
cars.dtypes

Unnamed: 0             int64
Make                  object
Model                 object
Variant               object
Ex-Showroom_Price     object
                      ...
USB_Ports            float64
Heads-Up_Display      object
Welcome_Lights        object
Battery               object
Electric_Range        object
Length: 141, dtype: object

In [24]:
cars.index

RangeIndex(start=0, stop=1276, step=1)

In [25]:
cars.columns

Index(['Unnamed: 0', 'Make', 'Model', 'Variant', 'Ex-Showroom_Price',
       'Displacement', 'Cylinders', 'Valves_Per_Cylinder', 'Drivetrain',
       'Cylinder_Configuration',
       ...
       'Leather_Wrapped_Steering', 'Automatic_Headlamps', 'Engine_Type',
       'ASR_/_Traction_Control', 'Cruise_Control', 'USB_Ports',
       'Heads-Up_Display', 'Welcome_Lights', 'Battery', 'Electric_Range'],
      dtype='object', length=141)

In [26]:
cars['Model']

0       Nano Genx
1       Nano Genx
2       Nano Genx
3       Nano Genx
4       Nano Genx
          ...
1271         City
1272         City
1273         City
1274         City
1275      Montero
Name: Model, Length: 1276, dtype: object

In [80]:
cars.isnull().count

<bound method DataFrame.count of       Unnamed: 0   Make  Model  Variant  Ex-Showroom_Price  Displacement  \
0          False  False  False    False              False         False
1          False  False  False    False              False         False
2          False  False  False    False              False         False
3          False  False  False    False              False         False
4          False  False  False    False              False         False
...          ...    ...    ...      ...                ...           ...
1271       False  False  False    False              False         False
1272       False  False  False    False              False         False
1273       False  False  False    False              False         False
1274       False  False  False    False              False         False
1275       False  False  False    False              False         False

      Cylinders  Valves_Per_Cylinder  Drivetrain  Cylinder_Configuration  ...  \
0         False                False       False                   False  ...
1         False                False       False                   False  ...
2         False                False       False                   False  ...
3         False                False       False                   False  ...
4         False                False       False                   False  ...
...         ...                  ...         ...                     ...  ...
1271      False                False       False                   False  ...
1272      False                False       False                   False  ...
1273      False                False       False                   False  ...
1274      False                False       False                   False  ...
1275      False                False       False                   False  ...

      Leather_Wrapped_Steering  Automatic_Headlamps  Engine_Type  \
0                         True                 True         True
1                         True                 True         True
2                         True                 True         True
3                         True                 True         True
4                         True                 True         True
...                        ...                  ...          ...
1271                     False                 True         True
1272                     False                False         True
1273                     False                False         True
1274                      True                 True         True
1275                     False                 True         True

      ASR_/_Traction_Control  Cruise_Control  USB_Ports  Heads-Up_Display  \
0                       True            True       True              True
1                       True            True       True              True
2                       True            True       True              True
3                       True            True       True              True
4                       True            True       True              True
...                      ...             ...        ...               ...
1271                    True           False       True              True
1272                    True           False       True              True
1273                    True           False       True              True
1274                    True           False       True              True
1275                   False           False       True              True

      Welcome_Lights  Battery  Electric_Range
0               True     True            True
1               True     True            True
2               True     True            True
3               True     True            True
4               True     True            True
...              ...      ...             ...
1271            True     True            True
1272            True     True            True
1273            True     True            True
1274            True     True            True
1275            True     True            True

[1276 rows x 141 columns]>

In [81]:
idea = cars.isnull().sum()
type(idea)
idea

Unnamed: 0              0
Make                    0
Model                   0
Variant                 0
Ex-Showroom_Price       0
                     ...
USB_Ports            1247
Heads-Up_Display     1225
Welcome_Lights       1207
Battery              1263
Electric_Range       1259
Length: 141, dtype: int64

In [38]:
cars = cars.fillna(value = 0)

In [85]:
cars.to_csv("Test.csv")

In [41]:
enc = OneHotEncoder(handle_unknown = 'ignore')

In [47]:
enc.fit(cars[0:3])

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['int', 'str']

In [43]:
enc.categories_

[array([0, 1, 2], dtype=int64),
 array(['Tata'], dtype=object),
 array(['Nano Genx'], dtype=object),
 array(['Emax Xm', 'Xe', 'Xt'], dtype=object),
 array(['Rs. 2,36,447', 'Rs. 2,92,667', 'Rs. 2,96,661'], dtype=object),
 array(['624 cc'], dtype=object),
 array([2.]),
 array([2.]),
 array(['RWD (Rear Wheel Drive)'], dtype=object),
 array(['In-line'], dtype=object),
 array(['BS IV'], dtype=object),
 array(['Rear, Transverse'], dtype=object),
 array(['Injection'], dtype=object),
 array(['15 litres', '24 litres'], dtype=object),
 array(['CNG', 'Petrol'], dtype=object),
 array(['1652 mm'], dtype=object),
 array(['3164 mm'], dtype=object),
 array(['1750 mm'], dtype=object),
 array(['Hatchback'], dtype=object),
 array([4., 5.])]

In [50]:
tre = pd.concat([cars["Fuel_Type"], cars['Model'], cars["Variant"]], axis=1)
tre

     Fuel_Type      Model        Variant
0       Petrol  Nano Genx             Xt
1       Petrol  Nano Genx             Xe
2          CNG  Nano Genx        Emax Xm
3       Petrol  Nano Genx            Xta
4       Petrol  Nano Genx             Xm
...        ...        ...            ...
1271    Diesel       City   Vx Mt Diesel
1272    Diesel       City   Zx Mt Diesel
1273    Petrol       City  Zx Cvt Petrol
1274    Petrol       City   V Cvt Petrol
1275    Diesel    Montero         3.2 At

[1276 rows x 3 columns]

In [51]:
enc.fit_transform(tre)

<1276x1333 sparse matrix of type '<class 'numpy.float64'>'
	with 3828 stored elements in Compressed Sparse Row format>

In [52]:
enc.categories_

[array(['CNG', 'CNG + Petrol', 'Diesel', 'Electric', 'Hybrid', 'Petrol'],
       dtype=object),
 array(['3-Series', '458 Speciale', '458 Spider', '488 Gtb', '5-Series',
        '6-Series', '7-Series', '718', '812 Superfast', '911', 'A3',
        'A3 Cabriolet', 'A4', 'A5', 'A5 Cabriolet', 'A6', 'A8 L',
        'Abarth Avventura', 'Abarth Punto', 'Accord Hybrid', 'Alto',
        'Alto 800 Tour', 'Alto K10', 'Altroz', 'Alturas G4', 'Amaze',
        'Ameo', 'Aspire', 'Aura', 'Avanti', 'Aventador', 'Avventura',
        'Baleno', 'Baleno Rs', 'Bentayga', 'Bolero', 'Bolero Power Plus',
        'Bolt', 'Brv', 'Camry', 'Captur', 'Carnival', 'Cayenne',
        'Cayenne Coupe', 'Celerio', 'Celerio Tour', 'Celerio X', 'Chiron',
        'Ciaz', 'City', 'Civic', 'Clubman', 'Compass', 'Compass Trailhawk',
        'Continental Gt', 'Convertible', 'Cooper 3 Door', 'Cooper 5 Door',
        'Corolla Altis', 'Countryman', 'Cr-V', 'Creta', 'Db 11',
        'Discovery', 'Discovery Sport', 'Dmax V-Cross', 'Duster', 'Dzire',
        'Dzire Tour', 'E Verito', 'E2O Plus', 'Ecosport', 'Eeco',
        'Elantra', 'Elite I20', 'Endeavour', 'Ertiga', 'Es', 'Etios Cross',
        'Etios Liva', 'Extreme', 'F-Pace', 'F-Type', 'Figo', 'Flying Spur',
        'Fortuner', 'Freestyle', 'Ghibli', 'Glanza', 'Go', 'Go+',
        'Grancabrio', 'Grand Cherokee', 'Grand I10', 'Grand I10 Nios',
        'Grand I10 Prime', 'Granturismo', 'Gtc4 Lusso', 'Gtr', 'Gurkha',
        'Gypsy', 'Harrier', 'Hector', 'Hexa', 'Huracan', 'I20 Active',
        'Ignis', 'Innova Crysta', 'Jazz', 'John Cooper Works', 'Kicks',
        'Kodiaq', 'Kodiaq Scout', 'Kona Electric', 'Kuv100 Nxt', 'Kwid',
        'Land Cruiser', 'Land Cruiser Prado', 'Lc 500H', 'Levante',
        'Linea', 'Linea Classic', 'Lodgy', 'Ls 500H', 'Lx 450D', 'Lx 570',
        'M2 Competition', 'M4', 'M5', 'Macan', 'Marazzo',
        'Mercedes-Benz A-Class', 'Mercedes-Benz Amg Gt 4-Door Coupe',
        'Mercedes-Benz Amg-Gt', 'Mercedes-Benz B-Class',
        'Mercedes-Benz C-Class', 'Mercedes-Benz C-Class Cabriolet',
        'Mercedes-Benz Cla-Class', 'Mercedes-Benz Cls',
        'Mercedes-Benz E-Class', 'Mercedes-Benz E-Class All Terrain',
        'Mercedes-Benz E-Class Cabriolet', 'Mercedes-Benz G-Class',
        'Mercedes-Benz Gla-Class', 'Mercedes-Benz Glc',
        'Mercedes-Benz Gle', 'Mercedes-Benz Gls', 'Mercedes-Benz Maybach',
        'Mercedes-Benz S-Class', 'Mercedes-Benz S-Class Cabriolet',
        'Mercedes-Benz V-Class', 'Micra', 'Micra Active', 'Monte Carlo',
        'Montero', 'Mu-X', 'Mulsanne', 'Mustang', 'Nano Genx', 'Nexon',
        'Nexon Ev', 'Nuvosport', 'Nx 300H', 'Octavia', 'Omni', 'Outlander',
        'Pajero Sport', 'Panamera', 'Passat', 'Platinum Etios', 'Polo',
        'Portofino', 'Prius', 'Punto Evo', 'Punto Evo Pure', 'Q3', 'Q5',
        'Q7', 'Q8', 'Quattroporte', 'Qute (Re60)', 'R8', 'Range',
        'Range Evoque', 'Range Evoque Convertible', 'Range Sport',
        'Range Velar', 'Rapid', 'Rapide', 'Redi-Go', 'Rio',
        'Rolls-Royce Cullinan', 'Rolls-Royce Dawn',
        'Rolls-Royce Drophead Coupe', 'Rolls-Royce Ghost Series Ii',
        'Rolls-Royce Phantom', 'Rolls-Royce Phantom Coupe',
        'Rolls-Royce Wraith', 'Rs5', 'Rs7', 'Rx 450H', 'S-Cross',
        'S-Presso', 'S5', 'S60', 'S60 Cross Country', 'S90',
        'Safari Storme', 'Santro', 'Scorpio', 'Seltos', 'Sunny', 'Superb',
        'Superb Sportline', 'Swift', 'Terrano', 'Thar', 'Tiago',
        'Tiago Nrg', 'Tigor', 'Tigor Ev', 'Tiguan', 'Triber', 'Tucson',
        'Tuv300', 'Tuv300 Plus', 'Urban Cross', 'Urus', 'V40',
        'V40 Cross Country', 'V90 Cross Country', 'Vantage', 'Vento',
        'Venue', 'Verito', 'Verito Vibe', 'Verna', 'Vitara Brezza',
        'Wagon', 'Winger', 'Wr-V', 'Wrangler', 'X1', 'X3', 'X4', 'X5',
        'X7', 'Xc40', 'Xc60', 'Xc90', 'Xcent', 'Xcent Prime', 'Xe', 'Xf',
        'Xj', 'Xl6', 'Xuv300', 'Xuv500', 'Xylo', 'Yaris', 'Z4 Roadster',
        'Zest', 'Zs Ev'], dtype=object),
 array(['1.0 S', '1.0 S Amt', '1.0 Turbo Gdi Dct S', ..., 'Zxi At',
        'Zxi Plus', 'Zxi Plus Amt'], dtype=object)]

In [53]:
loop = enc.transform(tre)

In [54]:
test_dp = pd.DataFrame(enc.fit_transform(tre).toarray())

In [55]:
print(tre.join(test_dp))

     Fuel_Type      Model        Variant    0    1    2    3    4    5    6  \
0       Petrol  Nano Genx             Xt  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1       Petrol  Nano Genx             Xe  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2          CNG  Nano Genx        Emax Xm  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3       Petrol  Nano Genx            Xta  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4       Petrol  Nano Genx             Xm  0.0  0.0  0.0  0.0  0.0  1.0  0.0
...        ...        ...            ...  ...  ...  ...  ...  ...  ...  ...
1271    Diesel       City   Vx Mt Diesel  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1272    Diesel       City   Zx Mt Diesel  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1273    Petrol       City  Zx Cvt Petrol  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1274    Petrol       City   V Cvt Petrol  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1275    Diesel    Montero         3.2 At  0.0  0.0  1.0  0.0  0.0  0.0  0.0

      ...  1323  1324  1325  1326  1327  1328  1329  1330  1331  1332
0     ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1     ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2     ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3     ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4     ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
1271  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1272  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1273  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1274  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1275  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[1276 rows x 1336 columns]

In [63]:
cars.isnull().sum()

Unnamed: 0              0
Make                    0
Model                   0
Variant                 0
Ex-Showroom_Price       0
                     ...
USB_Ports            1247
Heads-Up_Display     1225
Welcome_Lights       1207
Battery              1263
Electric_Range       1259
Length: 141, dtype: int64

In [65]:
cars.isnull().any()

Unnamed: 0           False
Make                 False
Model                False
Variant              False
Ex-Showroom_Price    False
                     ...
USB_Ports             True
Heads-Up_Display      True
Welcome_Lights        True
Battery               True
Electric_Range        True
Length: 141, dtype: bool

In [68]:
cars.dropna(how = 'all')

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1272,1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1273,1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1274,1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1275,1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,4.0,4.0,AWD (All Wheel Drive),In-line,...,Yes,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN

In [71]:
#cars.fillna(0)
#method = 'bfill'
cars.fillna(method = 'ffill')

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,9G-TRONIC,Yes,Yes,2.0,Yes,Yes,"30.2 kWh* Advanced Li-ion polymer, liquid cool...",462 km/full charge
1272,1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,9G-TRONIC,Yes,Yes,2.0,Yes,Yes,"30.2 kWh* Advanced Li-ion polymer, liquid cool...",462 km/full charge
1273,1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,9G-TRONIC,Yes,Yes,2.0,Yes,Yes,"30.2 kWh* Advanced Li-ion polymer, liquid cool...",462 km/full charge
1274,1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,9G-TRONIC,Yes,Yes,2.0,Yes,Yes,"30.2 kWh* Advanced Li-ion polymer, liquid cool...",462 km/full charge
1275,1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,4.0,4.0,AWD (All Wheel Drive),In-line,...,Yes,Yes,9G-TRONIC,Yes,Yes,2.0,Yes,Yes,"30.2 kWh* Advanced Li-ion polymer, liquid cool...",462 km/full charge

In [72]:
#Interpolate
cars.interpolate()

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,Yes,2.0,NaN,NaN,NaN,NaN
1272,1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,2.0,NaN,NaN,NaN,NaN
1273,1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,2.0,NaN,NaN,NaN,NaN
1274,1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,Yes,2.0,NaN,NaN,NaN,NaN
1275,1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,4.0,4.0,AWD (All Wheel Drive),In-line,...,Yes,NaN,NaN,Yes,Yes,2.0,NaN,NaN,NaN,NaN

In [89]:
#To fill in a specific series 
cars = cars.fillna({
    'Gears':4,
    'Start_/_Stop_Button':'No'
})

In [90]:
cars['Gears'].isnull().sum()

0

In [93]:
cars['Start_/_Stop_Button'].isnull().sum()

0

In [99]:
cars['City_Mileage'] = cars['City_Mileage'].fillna(cars['City_Mileage'].mode())
cars['City_Mileage'].isnull().sum()

555