In [1]:
import pandas as pd
import numpy as np

In [5]:
people = {
    'first':['Corey', 'John', 'Jane', 'Chris', np.nan, None, 'N/A'],
    'last':['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'],
    'email':['123@gmail.com', '321@gmail.com', '23454@gmail.com', None, np.nan, 'anonomous@gmail.com', 'N/A'],
    'age':['33','55','63','35', None, None, 'Missing']
}

In [15]:
df = pd.DataFrame(people)

df.replace('N/A', np.nan, inplace = True)
df.replace('Missing', np.nan, inplace = True)

df

   first     last                email   age
0  Corey  Schafer        123@gmail.com    33
1   John      Doe        321@gmail.com    55
2   Jane      Doe      23454@gmail.com    63
3  Chris  Schafer                 None    35
4    NaN      NaN                  NaN  None
5   None      NaN  anonomous@gmail.com  None
6    NaN      NaN                  NaN   NaN

In [9]:
df.dropna()

   first     last            email      age
0  Corey  Schafer    123@gmail.com       33
1   John      Doe    321@gmail.com       55
2   Jane      Doe  23454@gmail.com       63
6    N/A  Missing              N/A  Missing

In [11]:
df.dropna(axis='index', how='all')

   first     last                email      age
0  Corey  Schafer        123@gmail.com       33
1   John      Doe        321@gmail.com       55
2   Jane      Doe      23454@gmail.com       63
3  Chris  Schafer                 None       35
5   None      NaN  anonomous@gmail.com     None
6    N/A  Missing                  N/A  Missing

In [16]:
#rows = index, and columns reamins the same
df.dropna(axis='index', how = 'all', subset = ['last','email'])

   first     last                email   age
0  Corey  Schafer        123@gmail.com    33
1   John      Doe        321@gmail.com    55
2   Jane      Doe      23454@gmail.com    63
3  Chris  Schafer                 None    35
5   None      NaN  anonomous@gmail.com  None

In [17]:
df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [18]:
df.fillna('MISSING')

     first     last                email      age
0    Corey  Schafer        123@gmail.com       33
1     John      Doe        321@gmail.com       55
2     Jane      Doe      23454@gmail.com       63
3    Chris  Schafer              MISSING       35
4  MISSING  MISSING              MISSING  MISSING
5  MISSING  MISSING  anonomous@gmail.com  MISSING
6  MISSING  MISSING              MISSING  MISSING

In [20]:
df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [22]:
df['age'].mean()

TypeError: can only concatenate str (not "int") to str

In [23]:
type(np.nan)

float

In [26]:
df['age'] = df['age'].astype(float)

In [28]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [29]:
df['age'].mean()

46.5

Ways to change the index of the dataFrame

In [31]:
# na_vals=['NA', 'N/A', 'Missing', etc]
# df = pd.read_csv('Filename.csv', index_col = 'Name of index', na_values = na_val)
#

# pd.set_option('display.max_columns', 85)
# pd.set_option('display.max_rows', 85)

# df['YearsCode'].unique()


# How to change the specific value in a DataFrame

# df['Yearscode'].replace('Less than 1 year', 0, inplace = True)
# inplace is used to make changes permanent in the DataFrame

In [ ]:
# for mean and median

# df['YearsCOde'].mean()
# df['YearsCOde'].median()